<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>myduka home page</h1>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus enim explicabo sapiente pariatur cumque
    voluptates laudantium! Exercitationem quasi ullam commodi architecto est, nostrum magni neque minima aliquid
    repellat voluptatem necessitatibus!
</body>

</html>